<% include header %>
<div class="text-align: center">
  <img style="display: block; margin: 0 auto" src="img/aks.png" />
  <br />
  <h1 style="text-align:center">Hello AKS Guide</h1>
</div>
<% include footer %>